@tailwind base;
@tailwind components;
@tailwind utilities;

/* XX-LARGE: 1320px, LARGE: 960px */
.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
}

.center-card {
    height: calc(100vh - 52px);
}
